---
import ProfileCard from "../components/ProfileCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="home-container">
		<ProfileCard />
	</div>
</Layout>

<style>
	.home-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 2rem;
		flex: 1;
	}
</style>
